<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShopMatser 홈페이지</title>
</head>
<body>
    <header>
        헤더 입니다.<!-- A#2-->
        <!--        header영역-->
        <div>회원가입</div> <!--        B#4-->
        <div>about</div> <!--        A#8-->
    </header>

    <article>
        <!--        article영역-->
        <select>기사1</select><!--        A#5-->
        <select>기사2</select><!--        A#5-->

    </article>

    <footer>
        푸터 입니다. <!--        A#3-->
        <!--        footer영역-->
    </footer>
</body>
</html>